.messageBox {
  min-width: 400px;
  height: 120px;
  padding: 10px;
  position: fixed;
  left: 50%;
  top: 50%;
  border-radius: 4px;
  transform: translate(-50%, -50%);
  background-color: #fff;
  z-index: 10;
  opacity: 0;
  display: none;
  transition: all 350ms;
}
.messageBox .title {
  padding: 10px 0;
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 20px;
}
.messageBox span i.iconfont {
  margin: 0 5px;
  color: orange;
}
.messageBox span span.todo {
  font-weight: bold;
}
.messageBox .button-group {
  margin: 10px;
  text-align: right;
}
.messageBox .button-group button {
  padding: 8px;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  margin: 10px;
  opacity: 0.8;
  transition: all 350ms;
}
.messageBox .button-group button:hover {
  opacity: 1;
}
.messageBox .button-group button:nth-child(1) {
  background-color: #666;
  margin-right: 0;
}
.messageBox .button-group button:nth-child(2) {
  background-color: limegreen;
}
