#music-wrapper {
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translate(-50%, -120%);
  width: 600px;
  height: 180px;
  box-shadow: 0 0 5px #666;
  border-radius: 10px;
  background-repeat: no-repeat;
  background-size: contain;
  overflow: hidden;
  z-index: 14;
}
#music-wrapper .player {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 20px;
  z-index: 15;
  margin: 20;
  background-color: rgba(255, 255, 255, 0.5);
}
#music-wrapper .player .main {
  display: flex;
  margin-top: 20px;
}
#music-wrapper .player .buttons .iconfont {
  font-size: 30px;
  margin-right: 8px;
  cursor: pointer;
  vertical-align: middle;
  transition: opacity 0.3s;
}
#music-wrapper .player .buttons .iconfont:hover {
  opacity: 0.7;
}
#music-wrapper .player .buttons .iconfont.icon-play_pause {
  font-size: 30px;
}
#music-wrapper .player .buttons .iconfont.icon-play {
  font-size: 20px;
}
#music-wrapper .texts {
  margin-left: 20px;
  margin-bottom: 10px;
}
#music-wrapper .texts h3 {
  margin-top: 8px;
  margin-bottom: 8px;
}
#music-wrapper .texts p {
  margin-top: 0;
}
#music-wrapper .bar {
  margin: 20px 0;
  height: 3px;
  background-color: #ccc;
  border-radius: 3px;
}
#music-wrapper .bar .progress {
  height: 100%;
  background-color: currentColor;
  border-radius: 3px;
  transition: width 200ms;
}
#music-wrapper .time {
  text-align: right;
  margin-top: 8px;
}
